[Desktop Entry]
Version=1.0
Type=Application
Name=JupyterLab
GenericName=JupyterLab
Comment=JupyterLab is the next-generation web-based user interface for Project Jupyter
Keywords=python;tensorflow;keras
Exec=bash -c "cd /data && /usr/bin/env PATH=/opt/conda/bin/jupyter/:$PATH /opt/conda/bin/jupyter lab --allow-root --LabApp.token='' --notebook-dir '/data' & sleep 3; chromium-browser http://$HOSTNAME:8888"
Categories=Development;Science;IDE;Qt;
Icon=chromium-browser
Terminal=true
StartupNotify=true
MimeType=text/x-python3;text/x-python;application/x-ipynb+json;